@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    font-family: 'Dela Gothic One', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #73937E;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}